// Стилі та фонти
@import '_base/mixins';
@import '_base/tools';
@import '_base/fonts';

// Основні сторінки
@import './_home/main';

@import './_biography/main';
@import './_attractions/main';
@import './_gallery/main';

@import './header';
@import './footer';

.page-wrapper{
  min-height: 85%;
  padding: 190px 80px 0;
  display: flex;
  justify-content: center;
  @media (max-width: 1000px){
    padding: 170px 80px 0;
  }
  @media (max-width: 770px){
    padding: 130px 80px 0;
  }
  @media (max-width: 500px){
    padding: 130px 55px 0;
  }
}

body {
  
  background-color: var(--main-background);
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $light-gray-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color:  $privacy-color;
    border-radius: 20px;
    border: 3px solid $light-gray-color;
  }
}

input {
  background-color: transparent;
}

.right-bg{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
 height: 100%;
}

.left-bg{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  height: 100%;
}

#toggleButton{
  position: fixed;
  bottom: 50px;
  right: 0px;
  z-index: 4;
  width: 90px;
  height: 40px;
  background: $blue-color;
  border-radius: 20px;
  border: none;
  color: $white-color;
  font-size: 12px;
}