// Стилі та фонти
@import '_base/mixins';
@import '_base/tools';
@import '_base/fonts';

//preload
@import './_home/preload';

// Основні сторінки
@import './_home/main';

@import './_biography/main';
@import './_attractions/main';
@import './_gallery/main';

@import './header';
@import './footer';

.page-wrapper{
  padding: 190px 50px 0;
  @media (max-width: 1000px){
    padding-top: 170px;
  }
  @media (max-width: 770px){
    padding-top: 130px;
  }
}

body {
  
  background-color: var(--main-background);
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $light-gray-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $placeholder-color;
    border-radius: 20px;
    border: 3px solid $light-gray-color;
  }
}

input {
  background-color: transparent;
}

.right-bg{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
 height: 100%;

}

.left-bg{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  height: 100%;
  
}