<div class="biography">
    <div class="bio_info bio_info_main">
        <div class="big_info-pic"> 
            <img class="bio_pic__top" src="./assets/img/Biography_img/primachenko1.png" alt="">
        </div>
       <div>
            <h1>Maria Primachenko</h1>
            <p class="bio_text bio_text__margin">Ukrainian folk artist in the genre of "naive art"; laureate of the National Prize of Ukraine named after T. G. Shevchenko. Honored Artist of the Ukrainian SSR, People's Artist of Ukraine.</p>
            <p class="bio_text"> The author of more than 800 paintings, 650 of which are kept in the National Museum of Ukrainian Folk Decorative Art (Kyiv).</p>
       </div>
       
    </div>
        <div class="bio_info">
            <p class="bio_text bio_info__title">Maria Prymachenko's childhood</p>
            <p class="bio_text">Maria Oksentievna was born, grew up and spent her whole life in the village of Bolotnia, Kyiv region. She was brought up in a creative family. Father, Oksentii Hryhorovych, was a carpenter, he created yard fences. Grandmother was engaged in painting Easter eggs. Mother, Paraska Vasylivna, was famous for her embroidery skills, which Maria herself learned, who wore shirts embroidered with her own hands. In addition to painting and embroidery, she was also fond of ceramics and illustration.
                As a child, the future artist could not work in the fields and help her relatives in many household chores due to ailments. When the girl was seven years old, Marusya fell ill with poliomyelitis. In the future, throughout her life, the artist will experience terrible pain, more than one operation, and she will be on crutches in almost all photos.
            </p>
  
        </div>
        <div class="bio_info">
            <p class="bio_text bio_info__title">Creativity and sources of inspiration</p>
            <p class="bio_text"> Prymachenko began painting seriously at the age of 17 — when she found bluish clay, which she used to paint her own house. The first paintings were probably the motifs of wall painting and embroidery transferred to cardboard and paper. During this period of her life, Maria painted pictures: "Bull on a walk", "Blue lion", "Spotted beast", "Red berries" and others. The image of the animal world is distinguished by fantastic, fairy-tale, folklore motifs.</p>
           
            
        </div>
        <div class="bio_info">
            <img class="bio_pic__float_mob" src="./assets/img/Biography_img/primachenko2.png" alt="">
            <p class="bio_text bio_info__title">Contribution to Ukrainian culture</p>
           
            <p class="bio_text">1936 became a significant year in the artist's career. Then an All-Ukrainian exhibition of folk art was held, where her "Beasts from the Swamp" was exhibited. Maria became famous. She was awarded a 1st degree diploma. Soon her works appeared at the International Exhibition in Paris in 1937. And then in Warsaw, Sofia, Montreal, Prague. Articles were published in periodicals and magazines. Museums began to buy the artist's works.
                Over the years of inspired work, the classic <img class="bio_pic__float" src="./assets/img/Biography_img/primachenko2.png" alt="">of modern Ukrainian folk painting, Maria Prymachenko, created hundreds of works of art, which today are valued at tens of thousands of dollars. In addition, she created her own direction, her school-studio of original decorative drawing, to which she invited talented children from her native Bolotna. In the last years of her long life, Maria Oksentievna "in a scarf pulled over her 
              forehead and a green knitted sweater sat on a couch spread out near the stove, covered her sore legs with a blanket and watched the life that was happening in the house" — and perhaps she did not even suspect, what a huge contribution she made to Ukrainian culture.</p>
              
        </div>
        
</div>

