<footer>
   <div class="footer">
    <div class="history-block">
        <!-- Logo -->
        <div class="history-logo">
            <img src="./assets/img/Home_img/header/logo.png" alt="">
            <p class="history-logo_text" translate="no">History</p>
        </div>
        <p class="history__privacy translate" data-en="Privacy & Terms" data-uk="Конфіденційність та умови">Privacy & Terms</p>
       
    </div>
    <!-- Contacts -->
    <div class="contacts-block">
        <p class="contacts__title footer__titles translate"data-en="CONTACTS" data-uk="Контакти">CONTACTS</p>
        <p class="contacts__num contacts__text">+380729834812</p>
        <p class="contacts__mail contacts__text">ukhistory@gmail.com</p>
    </div>
    <!-- Address -->
    <div class="address-block">
        <p class="address__title footer__titles translate" data-en="ADDRESS" data-uk="Адреса">ADDRESS</p>
        <p class="address__str address__text">str. Kreshchatyk 49 </p>
        <p class="address__text">ukhistory@gmail.com</p>
    </div>
    <!-- Social -->
    <div class="social-block">
        <p class="social__title footer__titles translate" data-en="SOCIAL NETWORKS" data-uk="Соціальні мережі">SOCIAL NETWORKS</p>
        <div class="social-logos">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
   </div>
</footer>





<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>