<section class="gallery">
    <!-- Visible block -->
    <div class="gallery-visible gallery-grid">
        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/red-poppies.png" alt="">
            <p class="picture_name translate" data-en="Red Poppies" data-uk="Чевоні маки">Red Poppies</p>
            <p class="picture_author translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/two-headed-chicken.png" alt="">
            <p class="picture_name translate" data-en="Two-Headed Chicken" data-uk="Двоголове курча">Two-Headed Chicken</p>
            <p class="picture_author translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/may-i-give.png" alt="">
            <p class="picture_name translate" data-en="May I Give This Ukrainian Bread" data-uk="Дозвольте віддати цей український хліб">May I Give This <br> Ukrainian Bread </p>
            <p class="picture_author translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/dear-friends-i-give-you.png" alt="">
            <p class="picture_name translate" data-en="Dear Friends, I Give You the Sun and My Sunny Art" data-uk="Дорогі друзі, я дарую вам сонце і своє сонячне мистецтво">Dear Friends, I Give You <br> the Sun and My Sunny Art</p>
            <p class="picture_author translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/this-ukrainian-ram.png" alt="">
            <p class="picture_name translate" data-en="This Ukrainian Ram Did Not Gather His Crop" data-uk="Цей український баран не зібрав свого врожаю">This Ukrainian Ram Did <br> Not Gather His Crop</p>
            <p class="picture_author translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/rat-on-a-journey.png" alt="">
            <p class="picture_name translate" data-en="Rat on a Journey" data-uk="Щур у подорожі">Rat on a Journey</p>
            <p class="picture_author translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</p>
        </div>

    </div>
    <!-- Button -->
    <label class="gallery_button" >
        <input type="checkbox" class="gallery_ckeckbox " >
        <p class="translate" data-en="See more" data-uk="Більше">See more</p> 
    </label>
    <!-- Hidden block -->
    <div class="gallery-hidden gallery-grid">
        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/seagulls-in-the-boat.jpg" alt="">
            <p class="picture_name translate" data-en="Seagulls in the Boat" data-uk="Чайки в човні">Seagulls in the Boat</p>
            <p class="picture_author translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/pigeons.jpg" alt="">
            <p class="picture_name translate" data-en="Pigeons" data-uk="Голуби">Pigeons</p>
            <p class="picture_author translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/a-bunch-of-red-flowers-on-read-army-day.jpg" alt="">
            <p class="picture_name translate" data-en="A Bunch of Red Flowers on Read Army Day" data-uk="Букет червоних квітів до Дня Збройних Сил України ">A Bunch of Red Flowers on Read Army Day </p>
            <p class="picture_author translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</p>
        </div>
        
        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/the-little-elephant-whowanted.jpg" alt="">
            <p class="picture_name translate" data-en="The Little Elephant Whowanted to be a Sailor" data-uk="Слоненя хотіло стати моряком">The Little Elephant Whowanted to be a Sailor</p>
            <p class="picture_author translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/corncob-horse-in-outer-space.jpg" alt="">
            <p class="picture_name translate" data-en="Corncob Horse in Outer Space" data-uk="Кукурудзяний кінь у відкритому космосі">Corncob Horse in Outer Space</p>
            <p class="picture_author translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/lion.jpg" alt="">
            <p class="picture_name translate" data-en="Lion" data-uk="Лев">Lion</p>
            <p class="picture_author translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</p>
        </div>
        
    </div>
    <button id="toggleButton">Змінити мову</button>
</section>