<div class="gallery">
    <!-- Visible block -->
    <div class="gallery-visible gallery-grid">
        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/red-poppies.png" alt="">
            <p class="picture_name">Red Poppies</p>
            <p class="picture_author">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/two-headed-chicken.png" alt="">
            <p class="picture_name">Two-Headed Chicken</p>
            <p class="picture_author">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/may-i-give.png" alt="">
            <p class="picture_name">May I Give This <br> Ukrainian Bread </p>
            <p class="picture_author">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/dear-friends-i-give-you.png" alt="">
            <p class="picture_name">Dear Friends, I Give You <br> the Sun and My Sunny Art</p>
            <p class="picture_author">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/this-ukrainian-ram.png" alt="">
            <p class="picture_name">This Ukrainian Ram Did <br> Not Gather His Crop</p>
            <p class="picture_author">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/rat-on-a-journey.png" alt="">
            <p class="picture_name">Rat on a Journey</p>
            <p class="picture_author">Maria Primachenko</p>
        </div>

    </div>
    <!-- Button -->
    <label class="gallery_button">
        <input type="checkbox" class="gallery_ckeckbox">
        See more
    </label>
    <!-- Hidden block -->
    <div class="gallery-hidden gallery-grid">
        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/seagulls-in-the-boat.jpg" alt="">
            <p class="picture_name">Seagulls in the Boat</p>
            <p class="picture_author">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/pigeons.jpg" alt="">
            <p class="picture_name">Pigeons</p>
            <p class="picture_author">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/a-bunch-of-red-flowers-on-read-army-day.jpg" alt="">
            <p class="picture_name">A Bunch of Red Flowers on Read Army Day </p>
            <p class="picture_author">Maria Primachenko</p>
        </div>
        
        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/the-little-elephant-whowanted.jpg" alt="">
            <p class="picture_name">The Little Elephant Whowanted to be a Sailor</p>
            <p class="picture_author">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/corncob-horse-in-outer-space.jpg" alt="">
            <p class="picture_name">Corncob Horse in Outer Space</p>
            <p class="picture_author">Maria Primachenko</p>
        </div>

        <div class="gallery-picture-block">
            <img src="./assets/img/Gallery_img/lion.jpg" alt="">
            <p class="picture_name">Lion</p>
            <p class="picture_author">Maria Primachenko</p>
        </div>

    </div>
</div>