<header>
   <div class="header__logo">
      
      <a href="index.html">
         <img src="./assets/img/Home_img/header/logo.png" alt="">
      <p translate="no" class="header__logo_text">History</p>
      </a>
      
   </div>
   <nav class="header__nav">
      <ul>
         <li class="nav_links"><a class="nav_link_home" href="index.html">Home</a></li>
         <li class="nav_links"><a class="nav_link_biography" href="biography.html">Biography</a></li>
         <li class="nav_links"><a class="nav_link_gallery" href="gallery.html">Gallery</a></li>
         <li class="nav_links"><a class="nav_link_attractions" href="attractions.html">Аttractions</a></li>
      </ul>
   </nav>
   <!-- Burger -->
   <div class="navbar">   
      <div class="container nav-container">
          <input class="checkbox" type="checkbox" name="" id="">
          <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
          </div>  
          <div class="menu-items">
           
            <ul class="burger-list">
              <li class="burger-menu__item"><a class="burger_link_home" href="index.html">Home</a></li>
              <li class="burger-menu__item"><a class="burger_link_biography" href="biography.html">Biography</a></li>
              <li class="burger-menu__item"><a class="burger_link_gallery" href="gallery.html">Gallery</a></li>
              <li class="burger-menu__item"><a class="burger_link_attractions" href="attractions.html">Аttractions</a></li>
            </ul>
           
            <div class="burger__footer">
               <img class="header__pic_img" src="./assets/img/Home_img/header/header_pic.png" alt="">
            </div>
          </div>
      </div>
  </div>
  
   <div class="header__pic">
      <img class="header__pic_img" src="./assets/img/Home_img/header/header_pic.png" alt="">
   </div>
</header> 

