<section class="home-container">
    <h1 class="home__title translate" data-en="Maria Primachenko" data-uk="Марія Примаченко">Maria Primachenko</h1>
    <h2 class="home__subtitle translate" data-en="Ukrainian folk artist" data-uk="Українська народна художниця">Ukrainian folk artist</h2>
    <p class="home__info translate" 
    data-en=" This site is dedicated to the Ukrainian folk writer. Here you will find information about her: her paintings, awards she received and everything else from the life of the artist" 
    data-uk=" Цей сайт присвячений українській народній письменниці. Тут ви знайдете інформацію про неї: її картини, нагороди, які вона отримала та все інше з життя мисткині">
        This site is dedicated to the Ukrainian folk writer. Here you will find information about her: her paintings, awards she received and everything else from the life of the artist
    </p>
    <a class="home__button translate" href="Biography.html"
    data-en="Go to view" 
    data-uk="Переглянути"> 
        Go to view</a>
    <button id="toggleButton">Змінити мову</button>
</section>