<section class="attractions">
    <!-- About -->
  <div class="about">
    <div class="about_img">
      <img src="./assets/img/Attraction_img/primachencos_monument.png" alt="" />
    </div>
    <div class="about_info">
      <h2 class="about_title translate" data-en="Words about the Artist" data-uk="Слова про художницю">Words about the Artist</h2>
      <p class="about_info__text translate" data-en="Ukrainian artist of folk art who worked in the style of naive art. A self-taught artist, she worked in painting, embroidery and ceramics." data-uk="Українська художниця народного мистецтва, яка працювала в стилі наївного мистецтва. Художниця-самоучка, працювала в галузі живопису, вишивки та кераміки.">
        Ukrainian artist of folk art who worked in the style of naive art. A self-taught artist, she worked in painting,
        embroidery and ceramics.
      </p>
      <p class="about_info__text translate " data-en="Once Pablo Picasso, after visitin Prymachenko's exhibition in Paris at the World Exhibition of 1937, said:
      «I bow before the artistic miracle of this brilliant Ukrainian.»" data-uk="Якось Пабло Пікассо, відвідавши виставку Примаченка в Парижі на Всесвітній виставці 1937 року, сказав: «Я схиляюся перед мистецьким дивом цієї геніальної українки».">
        Once Pablo Picasso, after visitin Prymachenko's exhibition in Paris at the World Exhibition of 1937, said:
        <span> "I bow before the artistic miracle of this brilliant Ukrainian."</span>
      </p>
      <p class="about_info__text translate" data-en="A street in Kyiv and a small planet are namedafter her." data-uk="Її ім'ям названо вулицю в Києві та малу планету.">A street in Kyiv and a small planet are namedafter her.</p>
    </div>
  </div>

  <!-- Honors and awards -->
  
  <div class="honors-container">
    <h2 class="honors_title translate" data-en="Honors and awards" data-uk="Відзнаки та нагороди">Honors and awards</h2>
    <div class="honors-block">
      <img class="honors_img" src="./assets/img/Attraction_img/feather.png" alt="" />
      <p class="honors_text translate" data-en="Since 1988 - People's Artist of Ukraine." data-uk="З 1988 року - народна художниця України.">
        Since 1988 - People's Artist of Ukraine.
    </p>
    </div>
    <div class="honors-block">
      <img class="honors_img" src="./assets/img/Attraction_img/award_SSR.png" alt="" />
      <p class="honors_text translate" data-en=" In 1970, she received the title of Honored Artist of the Ukrainian SSR." data-uk=" У 1970 році отримала звання заслуженої артистки Української РСР.">
        In 1970, she received the title of Honored Artist of the Ukrainian SSR.
    </p>
    </div>
    <div class="honors-block">
      <img class="honors_img" src="./assets/img/Attraction_img/gold-medal.png" alt="" />
      <p class="honors_text translate" data-en="In 1937, at the international exhibition in Paris, she received a gold medal." data-uk="  У 1937 році на міжнародній виставці в Парижі вона отримала золоту медаль.">
        In 1937, at the international exhibition in Paris, she received a gold medal.
    </p>
    </div>
    <div class="honors-block">
      <img class="honors_img" src="./assets/img/Attraction_img/award_TSh.png" alt="" />
      <p class="honors_text translate" data-en=" In 1966, she received the State Prize of the Ukrainian SSR for the series of paintings «For the joy of people». T. G. Shevchenko." data-uk=" У 1966 році отримала Державну премію УРСР за серію картин «На радість людям». Т. Г. Шевченка.">
        In 1966, she received the State Prize of the Ukrainian SSR for the series of paintings "For the joy of people".
        T. G. Shevchenko.
      </p>
    </div>
    <div class="honors-block">
      <img class="honors_img" src="./assets/img/Attraction_img/year_2009.png" alt="" />
      <p class="honors_text translate" data-en="2009 was recognized by UNESCO as the year of Maria Prymachenko." data-uk=" 2009 рік був визнаний ЮНЕСКО роком Марії Примаченко.">
        2009 was recognized by UNESCO as the year of Maria Prymachenko.
    </p>
    </div>
    <div class="honors-block">
      <img class="honors_img" src="./assets/img/Attraction_img/atom.png" alt="" />
      <p class="honors_text translate" data-en="Award of the President of Ukraine «National Legend of Ukraine» (August 20, 2022, posthumously)" data-uk="Відзнака Президента України «Народна Легенда України» (20 серпня 2022, посмертно)">
        Award of the President of Ukraine "National Legend of Ukraine" (August 20, 2022, posthumously)
      </p>
    </div>
  </div>
  <button id="toggleButton">Змінити мову</button>
</section>
